<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Marinas Reviewed</h1>
    <p> Find all the info you need to enjoy a pleasant navigation all over the world. </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @marinas.each do |marina| %>
     <div class="col-sm-6 col-md-3">
       <div class="thumbnail">
          <%= link_to (image_tag marina.image.url(:medium), class: 'image'), marina %>
          
        </div>
      </div>
  <% end %>
</div>